<!doctype html>
<html lang="en">
<head>
    <title>🚫🚗.nyc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="container">

<div id="numbers">
<p class="heading">How Many Parking Spaces in NYC?</p>
<div class="numbers">
  {{with $count := (printf "%d" .ParkingSpaces | tokenString) -}}
  {{range $index, $char := $count }}
  <span class="number"><span class="top">{{$char}}</span><span class="bottom">{{$char}}</span></span>
  {{end}}
  {{- end}}
</div>
<p class="subtitle">Still too many!</p>
</div>


<div class="row">
<div class="col-sm-2 offset-sm-1 parking-subtotal">
  <div class="card">
    <div class="card-body p-2">
 <strong>{{.DCA.Spaces | commify}}</strong> <span class="badge badge-success">Verified</span><br/>
 <small>$ Parking Grage / Lot</small>
   </div>
 </div>
</div>
<div class="col-sm-2 parking-subtotal">
  <div class="card">
    <div class="card-body p-2">
 <strong>{{.OnStreet.EstimateSpaces | commify}}</strong> <span class="badge badge-danger">Guess</span> <br/>
 <small>On-Street Parking</small>
   </div>
 </div>
</div>
<div class="col-sm-2 parking-subtotal">
  <div class="card">
    <div class="card-body p-2">
 <strong>{{.ParkingLot.EstimateSpaces | commify}}</strong> <span class="badge badge-warning">Estimate</span><br/>
 <small>{{len .ParkingLot | commify}} Parking Lots <span class="badge badge-success">Verified</span><br/>covering {{(millionsqft .ParkingLot.SurfaceArea)| commify}} million sqft <span class="badge badge-success">Verified</span></small>
   </div>
 </div>
</div>
<div class="col-sm-2 parking-subtotal">
  <div class="card">
    <div class="card-body p-2">
 <strong>?,???,???</strong> <br/>
 <small>???,??? Driveways</small>
   </div>
 </div>
</div>
<div class="col-sm-2 parking-subtotal">
  <div class="card">
    <div class="card-body p-2">
 <strong>{{.PrivateGarages.EstimateSpaces | commify}}</strong> <span class="badge badge-warning">Estimate</span> <br/>
 <small>{{len .PrivateGarages | commify}} Private Car Garages <span class="badge badge-success">Verified</span><br/>covering {{(millionsqft .PrivateGarages.SurfaceArea) | commify}} million sqft <span class="badge badge-success">Verified</span></small>
   </div>
 </div>
</div>


</div>

<div class="row">
<table class="table table-sm table-dark col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 recent-changes" >
<tbody>
{{range .RecentChanges}}
<tr>
  <td>{{ if .Future }}<i>Planned</i> <small>({{.EffectiveDate.Format "01/02/2006"}})</small>{{else}}{{.EffectiveDate.Format "Jan 01 2006"}}{{ end}}</td>
  <td><strong class="{{if gt .Spaces 0}}more-parking{{else}}less-parking{{end}}">{{if gt .Spaces 0}}+{{end}}{{.Spaces}}</strong> {{.Category}} spaces</td>
  <td>{{.Name}}{{if .Description}}<br/>{{.Description}}{{end}}</td>
  <td>{{.Borough}}</td>
  <td>{{if .ReferenceURL}}<a href="{{.ReferenceURL}}">{{.Source}}</a>{{else}}{{.Source}}{{end}}</td>
</tr>
{{end}}
</tbody>
</table>
</div>


<div class="row">
<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
<h3>Data Sources:</h3>
<p>Parking Garage and Parking Lot Data sourced from NYC Department of Consumer Affairs (DCA) via NYC Open Data <a href="https://data.cityofnewyork.us/Business/Legally-Operating-Businesses/w7w3-xahh">Legally Operating Businesses</a>.</p>
<p>Parking Lot data sourced from NYC Department of Information Technology and Telecommunications (DoITT) via NYC Open Data <a href="https://data.cityofnewyork.us/City-Government/Parking-Lot/h7zy-iq3d">Planimetrics basemap with Parking Lot features</a>. Parking Spaces estimated at 350 sq ft per parking space rounded down to the nearest number of total spaces per lot. An acre lot (43560 sq ft) can fit between 80 and 170 cars in a self-parking style lot (550 sqft - 256 sqft per car).</p>
<p>Private Car Garage data sourced from NYC Department of Information Technology and Telecommunications (DoITT) via NYC Open Data <a href="https://data.cityofnewyork.us/Housing-Development/Building-Footprints/nqwf-w8eh">Planimetrics Building Footprints</a>. Parking spaces estimated at 1 parking space for garages
</p>
</div>
</div>
<div class="row">
<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
<h3>Releated Research and Parking Estimates:</h3>
<ul>
  <li><a href="https://www.mba.org/2018-press-releases/july/riha-releases-new-report-quantified-parking-comprehensive-parking-inventories-for-five-major-us-cities">Estimated 1.8M parking stalls - 2018 The Mortgage Bankers Association's Research Institute for Housing America (RIHA)</a></li>
  
</ul>
  
</div>
</div>

</div>
</body>
</html>
