<!doctype html>
<html lang="en">
<head>
    <title>🚫🚗.nyc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="container">

<div id="numbers">
<p class="heading">How Many Parking Spaces in NYC?</p>
<div class="numbers">
  {{with $count := (printf "%d" .ParkingSpaces | tokenString) -}}
  {{range $index, $char := $count }}
  <span class="number"><span class="top">{{$char}}</span><span class="bottom">{{$char}}</span></span>
  {{end}}
  {{- end}}
</div>
<p class="subtitle">Still too many!</p>
</div>


<div class="row">
<div class="col-sm-2 offset-sm-2 parking-subtotal">
 <strong>{{.DCA.Spaces}}</strong> <br/>
 <small>Parking Grage / Lot</small>
</div>
<div class="col-sm-2 parking-subtotal">
 <strong>????</strong> <br/>
 <small>Curbside Parking</small>
</div>
<div class="col-sm-2 parking-subtotal">
 <strong>????</strong> <br/>
 <small>Parking Lot</small>
</div>
<div class="col-sm-2 parking-subtotal">
 <strong>????</strong> <br/>
 <small>Driveways</small>
</div>


</div>

<div class="row">
<table class="table table-sm table-dark col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 recent-changes" >
<tbody>
{{range .RecentChanges}}
<tr>
  <td>{{ if .Future }}<i>Planned</i> <small>({{.EffectiveDate.Format "01/02/2006"}})</small>{{else}}{{.EffectiveDate.Format "Jan 01 2006"}}{{ end}}</td>
  <td><strong class="{{if gt .Spaces 0}}more-parking{{else}}less-parking{{end}}">{{if gt .Spaces 0}}+{{end}}{{.Spaces}}</strong> {{.Category}} spaces</td>
  <td>{{.Name}}{{if .Description}}<br/>{{.Description}}{{end}}</td>
  <td>{{.Borough}}</td>
  <td>{{if .ReferenceURL}}<a href="{{.ReferenceURL}}">{{.Source}}</a>{{else}}{{.Source}}{{end}}</td>
</tr>
{{end}}
</tbody>
</table>
</div>


<div class="row">
<p>Parking Garage and Parking Lot Data sourced from Department of Consumer Affairs (DCA) via NYC Open Data <a href="https://data.cityofnewyork.us/Business/Legally-Operating-Businesses/w7w3-xahh">Legally Operating Businesses</a>.

</div>


</div>
</body>
</html>
